:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
  --tr-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-background);
  color: var(--text);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.container {
  /* Phone styles & > */
  min-width: 320px;
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

/* MY MEDIA CONTAINER */

/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Destop styles & >  */
@media only screen and (min-width: 1158px) {
  .container {
    padding: 0 15px;
    max-width: 1158px;
  }
}

/* ---------------------------------------- */
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
/* HEADER */

/* For All devices*/
.top-line {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Phone styles & > */
.page-header.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
}
/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
  .page-header.container {
    height: 72px;
  }
}
/* Destop styles & >  */
@media only screen and (min-width: 1158px) {
  .page-header.container {
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Phone styles & > */
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  padding: 0px;
}
/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
}
/* Destop styles & >  */
@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}

.black-word {
  color: var(--dark);
}

/* MENU NAV hide for mobile, show for other devicec */
/* Phone styles & > */
.menu-nav {
  display: none;
}
/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
  .menu-nav {
    display: flex;
    gap: 40px;
  }
}

.nav-links {
  display: block;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  padding: 24px 0 24px;

  transition: color var(--tr-dur-func);
}

.nav-links.current {
  color: var(--pressed-state);
}
.nav-links.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state);
  bottom: -1px;
  left: 0;
}

.nav-links:hover,
.nav-links:focus {
  color: var(--pressed-state);
}

/* OUR ADDRESS hide for mobile, show for other devicec */
/* Phone styles & > */
.our-address {
  display: none;
}

/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
  .our-address {
    display: block;
  }
}
/* Destop styles & >  */
@media only screen and (min-width: 1158px) {
  .our-address {
  }
}

/* .address-group {
  display: flex;
  gap: 40px;
} */
/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
  .address-group {
    display: block;
  }
}
/* Destop styles & >  */
@media only screen and (min-width: 1158px) {
  .address-group {
    display: flex;
    gap: 40px;
  }
}

/* Phone styles & > */
.contact-links {
}
/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
  .contact-links {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text);
  }
}
/* Destop styles & >  */
@media only screen and (min-width: 1158px) {
  .contact-links {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    transition: color var(--tr-dur-func);
  }
}
.contact-links:hover,
.contact-links:focus {
  color: var(--pressed-state);
}

/* HERO IMAGE -  SECTION 1 */
.hero-image {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg');
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-header {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  color: var(--white-background);
  max-width: 496px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 30px;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color var(--tr-dur-func);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

/* SECTION 2 */
.section-one {
  padding-top: 120px;
  /* padding-bottom: 120px; */
}
.features {
  display: flex;
  gap: 24px;
}

.feature-header {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
.feature-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.features-item {
  width: calc((100% - 3 * 24px) / 4);
  gap: 8px;
}
.features-item-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* SECTION 3 */

/* Phone styles & > */
.section-two {
  display: none;
}

/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
}
/* Destop styles & >  */
@media only screen and (min-width: 1158px) {
  .section-two {
    display: block;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.images-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}
.imgs-item {
  flex-basis: 360px;
  align-items: flex-start;
  padding: 0px;
}

/* SECTION 4 */
.section-three {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--light);
}
.team-cards-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}
.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}
.employees {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding: 32px 0;
}
.team-card-items {
  background-color: var(--white-background);
  width: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-media-item {
  width: 40px;
  height: 40px;
}
.social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--tr-dur-func);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--pressed-state);
}

.social-media-svg {
  fill: var(--light);
}
/* SECTION 5 */
.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
  line-height: 1.1;
}
.customers {
  display: flex;
  gap: 24px;
}
.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color var(--tr-dur-func), color var(--tr-dur-func);
}
.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-link-svg {
  fill: currentColor;
}

/* FOOTER */
.foo {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--dark);
}
.foo-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  text-decoration: none;
  display: inline-block;
  padding: 0px;
  margin-bottom: 16px;
}
.white-word {
  color: var(--light);
}
.foo-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  width: 264px;
}

.foo-conteiner {
  display: flex;
  align-items: baseline;
}

.foo-content {
  margin-right: 120px;
}

.foo-social-media {
  margin-right: 80px;
}
.foo-social-media-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.foo-social-media-ul {
  display: flex;
  gap: 16px;
}
.foo-social-media-item {
  width: 40px;
  height: 40px;
}
.foo-social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--tr-dur-func);
}
.foo-social-media-link:hover,
.foo-social-media-link:focus {
  background-color: var(--success);
}

.foo-social-media-svg {
  fill: var(--light);
}

.foo-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
/* FOOTER-FORM */
.foo-form {
  margin-top: 16px;
  display: flex;
  gap: 24px;
}

.foo-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  background: var(--dark);
}
.foo-form-input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 1;
}
.foo-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;

  width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.foo-btn-caption {
  width: 77px;
  height: 24px;

  /* Button Text */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
/* PORTFOLIO PAGE */
.main-section {
  padding: 96px 0 120px 0;
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.filter-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color var(--tr-dur-func), background-color var(--tr-dur-func),
    border var(--tr-dur-func), box-shadow var(--tr-dur-func);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.employees-portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.employees-item {
  flex-basis: calc((100% - 48px) / 3);
}
.employees-link {
  display: block;
  transition: box-shadow var(--tr-dur-func);
}
.employees-link:hover,
.employees-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: var(--primary-brand);
  color: var(--light);
  position: absolute;
  padding: 40px 32px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.employees-link:hover .overlay,
.employees-link:focus .overlay {
  transform: translateY(0);
}

.employees-info {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}
.portfolio-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
/* MODAL-WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--tr-dur-func), visibility var(--tr-dur-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 408px;
  height: 584px;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  background: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 72px 24px 24px 24px;
}
.modal-close-btn {
  top: 24px;
  right: 24px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: var(--accent);
  border-radius: 50%;
  border: none;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background: var(--pressed-state);
  border-color: var(--accent);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--white-background);
}
/* BOOOKING-FORM  */

.modal-title {
  width: 360px;
  height: 24px;
  margin-bottom: 16px;
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.booking-form-wrapper {
  margin-bottom: 16px;
}

/* FORM-ELEMENTS */
.modal-form-label {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-form-field {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-input {
  width: 360px;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal-form-message {
  display: block;
  resize: none;
  width: 360px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
}
.modal-form-message::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-input:focus,
.modal-form-message:focus {
  outline: 1px solid var(--primary-brand);
  outline-offset: -2px;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--pressed-state);
}

.comment-field {
  width: 360px;
  height: 120px;
}

/* CHECK-BOX */
.modal-form-agreement {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.modal-form-agreement-box {
  appearance: none;
}
.modal-form-agreement-box:checked {
  background-color: var(--modal-background);
  border-color: var(--modal-background);
  background-size: 10px;

  transition-delay: 250ms, 250ms, 0;
}
.modal-form-agreement-unchecked {
  opacity: 1;
  transition: var(--tr-dur-func);
}

input[type='checkbox']:checked
  + .modal-form-agreement-icon
  > .modal-form-agreement-unchecked {
  opacity: 0;
}

.modal-form-agreement-checked {
  opacity: 0;
  transition: var(--tr-dur-func);
}
input[type='checkbox']:checked
  + .modal-form-agreement-icon
  > .modal-form-agreement-checked {
  opacity: 1;
}

.modal-form-agreement-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-left: 8px;
}
.modal-form-agreement-link {
  color: var(--primary-brand);
}
/* SEND BTN */

.btn-form {
  display: block;
  margin: 0 auto;
  background-color: var(--primary-brand);

  width: 169px;
  height: 56px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--tr-dur-func);
}

.btn-form:hover,
.btn-form:focus {
  background-color: var(--pressed-state);
}

.btn-caption {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;
}

/* MOBAIL-MENU */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .modal-close-btn {
  border: 1px solid #e7e9fc;
  background-color: #ffffff;
}

.menu-container .modal-close-btn-icon {
  fill: #2e2f42;
  fill-opacity: 1;
}

.mobile-menu {
  padding: 0;
  margin: 40px 40px 284px 0px;
  list-style: none;
}
.mobile-menu > li {
  margin-top: 40px;
}
.mobile-menu .link {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
  text-decoration: none;
}

.t-mail {
  margin-bottom: 48px;
}
.t-mail > .mobile-contact-links {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--text);
}
.t-phone {
  margin-bottom: 40px;
}
.t-phone > .mobile-contact-links {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--primary-brand);
}

.mobile-social-media-ul {
  display: flex;
  gap: 56px;
}
.mobile-social-media-item {
  width: 40px;
  height: 40px;
}
.mobile-link.current {
  display: inline-block;
  position: relative;
  color: var(--pressed-state);
}
.mobile-link.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state);
  bottom: 0px;
  left: 0;
}

@media (min-width: 320px) and (max-width: 413px) {
  .t-phone > .mobile-contact-links {
    font-size: 30px;
  }
  .mobile-social-media-ul {
    gap: 44px;
  }
}

@media (min-height: 667px) and (max-height: 840px) {
  .mobile-menu {
    margin: 40px 40px 150px 0px;
  }
}
